<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <div class="logo">
      <i style="font-size: 30px; margin-right: 10px" class="fas fa-brain"></i>
      <span>Agendamentos</span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Início</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header id="inicio" class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <section class="content">
        <div class="container">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
            <p class="title">Marque seu atendimento</p>
            <div class="input-container">
              <label>
                <span class="titulo">Nome Completo</span>
                <input class="input" type="text" formControlName="Nome" placeholder="Digite seu Nome" />
              </label>
              <label>
                <span class="titulo">Psicólogo</span>
                <select formControlName="Psicólogo" [disabled]="loadingPsychologists">
                  <option value="" disabled selected>
                    {{ loadingPsychologists ? 'Carregando psicólogos...' : 'Selecione o Psicólogo' }}
                  </option>
                  <option *ngFor="let psicologo of psychologists" [value]="psicologo.nome">
                    {{ psicologo.nome }}
                  </option>
                </select>

              </label>
            </div>

            <label>
              <span class="titulo">E-mail</span>
              <input class="input" type="email" formControlName="Email" placeholder="Digite seu E-mail" />
            </label>

            <div class="input-container" style="padding: 0 0 10px 0">
              <label>
                <span class="titulo">Data da Consulta</span>
                <input class="input" type="date" formControlName="Data" />
              </label>
              <label>
                <span class="titulo">Horário da consulta</span>
                
                  <select id="horario" formControlName="Hora" [disabled]="loadingHorarios">
                    <option value="" disabled selected>
                      {{ loadingHorarios ? 'Carregando horários...' : 'Selecione o Horário' }}
                    </option>
                    <option *ngFor="let horario of horariosDisponiveis" [value]="horario">
                      {{ horario }}
                    </option>
                  </select>

                
              </label>
            </div>

            <button type="submit" class="submit" [disabled]="form.invalid">Enviar</button>
          </form>
        </div>
      </section>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<!-- Loading spinner -->
<div *ngIf="isLoading()" class="loading-container">
  <app-loader-component></app-loader-component>
</div>


<!-- Footer -->
<footer class="py-3 bg-black">
  <div class="container px-5">
    <p class="m-0 text-center text-white small">Copyright &copy; Sandiê</p>
  </div>
</footer>

<!-- Feedback container -->
<div id="feedback-container" style="display: none">
  <div id="feedback-message" class="feedback-message"></div>
</div>